* {
	background-color: #262626;
}

*::selection {
	background-color: #623ba188;
}

body {
	overflow-x: hidden;
	margin: 0px;
}

@font-face {
	font-family: Inter;
	src: url(fonts/Inter-VariableFont_opsz,wght.ttf);
}

iframe {
	width: 100%;
	height: 200px;
	margin-bottom: -80px;
	position: static;
	top: 0px;
	left: 0px;
	overflow-y: hidden;
	border-color: transparent;
}

div {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.alternate {
	background-color: #623ba135;
}

h1 {
	color: white;
	background-color: #623ba135;
	font-family: Inter;
	font-size: 32pt;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

h2 {
	color: white;
	background-color: transparent;
	font-family: Inter;
	font-size: 20pt;
	width: 75%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 12%;
}

p {
	color: #646464;
	background-color: transparent;
	font-family: Consolas;
	font-size: 14pt;
	width: 75%;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 12%;
}

.card {
	background-color: #262626;
	width: 23%;
	min-height: 400px;
	max-height: 401px;
	padding-top: 0px;
	padding-bottom: 60px;
	margin-bottom: 60px;
	margin-top: 60px;
	margin-left: .9%;
	margin-right: 1%;
	border: 1px solid #646464;
	border-radius: 20px;
	display: inline-block;
	scale: 1;
	transition-duration: .4s;
}

.card_left {
	margin-left: 12%;
}

.card_2nd_row {
	margin-top: -20px;
}

.card:hover {
	scale: 1.05;
}

.card_image {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.card_h2 {
	position: absolute;
	top: 200px;
	left: 0px;
	min-height: 200px;
	max-height: 201px;
	text-align: center;
}

.card_p {
	width: 90%;
	min-height: 200px;
	max-height: 201px;
	position: absolute;
	top: 250px;
	left: -20px;
}

a {
	color: white;
	background-color: transparent;
	font-family: Inter;
	font-size: 12pt;
	text-align: center;
	min-width: 100px;
	max-width: 200px;
	border: 1px solid #623ba1;
	border-radius: 20px;
	padding: 10px;
	cursor: hand;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 12%;
	display: block;
	transition-duration: .4s;
}

.a_left {
	margin-left: 12%;
}

.a_top {
	margin-top: 30px;
	margin-left: 0%;
	margin-right: 10px;
	display: inline-block;
	float: right;
}

a:hover {
	color: #623ba1;
}

img {
	background-color: transparent;
}