body {
	background-color: #262626;
	margin: 0px;
	overflow-x: hidden;
}

iframe {
	background-color: transparent;
	width: 100%;
	height: 600px;
	overflow-y: hidden;
	border: none;
}

* {
	font-family: Franklin Gothic;
}

*::selection {
	color: white;
	background-color: #623ba1;
}

div {
	margin-top: 200px;
	width: 90%;
	margin-left: 5%;
}

a {
	color: white;
	font-size: 35pt;
	text-align: center;
	width: 100%;
	margin: auto;
	padding-bottom: 50px;
	display: block;
	text-decoration: none;
	cursor: hand;
}

.normal_a {
	width: auto;
}

a:hover {
	color: #623ba1;
}

.normal_a:hover {
	color: white;
}

button {
	color: white;
	background-color: #623ba1;
	font-size: 35pt;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	cursor: hand;
	border: none;
	padding: 25px;
	min-width: 200px;
	margin-left: 0px;
}

button:hover {
	background-color: #8658d1;
	margin-left: 25px;
}

h1 {
	color: #623ba1;
	font-size: 100pt;
	text-align: center;
	width: 100%;
	margin-top: 50px;
}

h2 {
	color: white;
	font-size: 60pt;
	text-align: left;
	width: 100%;
	margin-top: 50px;
}

/* core image is 50% opacity w/ 100% blank layer */

.h2_w_image {
	text-align: center;
	padding-top: 75px;
	padding-bottom: 75px;
	background-repeat: no-repeat;
	background-size: contain;
}

p {
	color: white;
	font-size: 30pt;
	text-align: left;
	width: 100%;
	margin-top: 50px;
}

.p_joke {
	color: #623ba1;
	background-color: #623ba1;
	padding-top: 25px;
	padding-bottom: 25px;
}

.p_joke:hover {
	color: white;
	background-color: transparrent;
}
